.arrow__container {
  width: 28px;
  height: 28px;
  border: 2px $colorgreen solid;
  position: relative;
  left: 85%;
  transform: translateY(-70%);

  @media all and (min-width: 768px) {
    transform: translateY(-220%);
    left: 88%;
  }

  @media all and (min-width: 1200px) {
    transform: translateY(-1600%);
  }
}

.footer__arrow {
  color: $colorwhite;
  margin-bottom: 20px;
  position: absolute;
  left: 90%;
  animation: big 1.5s alternate infinite ease-in;
}

@keyframes big {
  0% {
    transform: scale(0.8);
  }
  100% {
    transform: scale(1.5);
  }
}
