.green__button--low,
.green__button--hero {
  background-color: $colorgreen;
  color: $colorwhite;
  font: 600 16px $fontpoppins;
  width: 176px;
  height: 48px;
  padding: 12px 24px;
  box-sizing: border-box;
  border: 0ch;
  align-self: center;
  text-transform: capitalize;
  transition-duration: 0.4s;
}

.green__button--hero {
  @media all and (min-width: 768px) {
    align-self: auto;
  }
}

.green__button--low {
  @media all and (min-width: 1200px) {
    align-self: auto;
  }
}

.green__button--low:hover , .green__button--hero:hover {
  background-color: transparent;
  color: $colorgreen;
  cursor: pointer;
  width: fit-content;
  border: 2px solid $colorgreen;
}
