.hero {
  &__back {
    &__img {
      height: 100vh;
      width: 100vw;
      object-fit: cover;
      position: relative;
      display: block;
    }
  }
  &__container {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 45%;
    left: 12%;
    @media all and (min-width: 768px) {
      left: 0;
      margin-left: 18%;
      justify-content: flex-start;
      align-items: flex-start;
    }
    @media all and (min-width: 1200px) {
      margin-left: 12%;
    }
    @media all and (min-width: 1700px) {
      margin-left: 16.5%;
    }
  }
  &__title {
    @include text(24px, 600, $colorgreen, 0.5px);
    margin-bottom: 24px;
    @media all and (min-width: 768px) {
      width: 16ch;
      font-size: 36px;
      text-align: left;
      margin-bottom: 15px;
      line-height: 1.5;
    }
  }
}
