.hero {
  &__back {
    &__img {
      // width: 100vw;
      // height: 80vh;
      // display: block;
      // background-size: cover;
      // background-position: center;
      // background-position-y: 50%;
      // width: 100%;

      height: 100vh;
      width: 100vw;
      object-fit: cover;
      position: relative;
      top: 0;
      display: block;
    }
  }

  &__container {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 45%;
    left: 12%;

    @media all and (min-width: 900px) {
      left: 0;
      margin-left: 147px;
      justify-content: flex-start;
      align-items: flex-start;
    }

    @media all and (min-width: 1700px) {
      display: inline;
      margin-left: 280px;
      margin-right: 81px;
    }

  }

  &__title {
    font: 600 24px $fontpoppins;
    color: $colorgreen;
    text-align: center;
    margin-bottom: 24px;
    letter-spacing: 0.5px;

    @media all and (min-width: 900px) {
      font-size: 36px;
      width: 16ch; /* ch ~ el ancho de una letra */
      text-align: left;
      margin-bottom: 15px;
    }
  }

  // incluir una transición
  &__button {
    background-color: $colorgreen;
    color: $colorwhite;
    font: 600 16px $fontpoppins;
    width: 176px;
    height: 48px;
    padding: 12px 24px;
    box-sizing: border-box;
    border: 0ch;
    align-self: center;
    text-transform: capitalize;

    @media all and (min-width: 900px) {
    align-self: auto;
    }

  }
}
