// propiedades de CSS que se desee

.low {
  display: flex;
  flex-direction: column;


  &__container {
    width: auto;
    height: 340px;
    background-color: $colorbeige;
  
  }


  &__article {
    display: flex;
    flex-direction: column;

    &__title {
      font: 600 24px $fontpoppins;
      color: $colorgreen;
      text-align: center;
      margin-top: 87px;
    }

    &__text {
      font: 14px $fontpoppins;
      color: $colorgreen;
      text-align: center;
      padding: 10px 20px;
      letter-spacing: 0.5px;
      margin-bottom: 20px;
    }

    // incluir una transición
    &__button {
      background-color: $colorgreen;
      color: $colorwhite;
      font: 600 16px $fontpoppins;
      width: 176px;
      height: 48px;
      padding: 12px 24px;
      box-sizing: border-box;
      border: 0ch;
      align-self: center;
      text-transform: capitalize;

    }
  }

  &__image {
    height: 300px;
    width: 100vw;
    object-fit: cover;
    position: relative;
    top: 0;
    display: block;

    @media all and (min-width: 900px) {
      height: 474px;
    }
  
  }
}
