.low {
  display: flex;
  flex-direction: column;

  @media all and (min-width: 1700px) {
    flex-direction: row;
    height: 571px;
  }

  &__container {
    width: auto;
    height: 340px;
    background-color: $colorbeige;

    @media all and (min-width: 1700px) {
      width: 50.24%;      
      height: 100%;
    }
  }

  &__article {
    display: flex;
    flex-direction: column;
    margin-top: 87px;
    align-items: center;

    @media all and (min-width: 1700px) {
      margin-top: 176px;
      margin-left: 32.79%;
      align-items: flex-start;
    }

    &__title {
      font: 600 24px $fontpoppins;
      color: $colorgreen;
      text-align: center;

      @media all and (min-width: 1700px) {
        font-size: 36px;
        width: 16ch; /* ch ~ el ancho de una letra */
        text-align: left;
        margin-bottom: 15px;
      }
    }

    &__text {
      font: 14px $fontpoppins;
      color: $colorgreen;
      text-align: center;
      padding: 10px 20px;
      letter-spacing: 0.5px;
      margin-bottom: 20px;

      @media all and (min-width: 1700px) {
        font-size: 16px;
        width: 32ch;
        padding: 0;
        text-align: left;
      }
    }
  }

  &__container2 {
    height: 300px;
    width: 100vw;

    @media all and (min-width: 900px) {
      height: 474px;
    }

    @media all and (min-width: 1700px) {
      max-width: 51.41%;
      height: 100%;
    }
  }

  &__image {
    height: 100%;
    width: 100%;
    object-fit: cover;
    position: relative;
    top: 0;
    display: block;
  }
}

