// propiedades de CSS que se desee

.mid {
  background-color: $colororange;
  padding: 45px 0 40px 0px;
  @media all and (min-width: 900px) {
    height: 352px;
  }

  &__article {
    display: flex;
    flex-direction: column;

    &__img {
      width: 120px;
      align-self: center;
      box-sizing: content-box;
      margin-bottom: 10px;
    }

    &__title {
      font: 600 24px $fontpoppins;
      color: $colorwhite;
      text-align: center;
      letter-spacing: 0.5px;
      padding-bottom: 5px;
      @media all and (min-width: 900px) {
        padding-bottom: 15px;
      }
    
    }

    &__text {
      font: 14px $fontpoppins;
      color: $colorwhite;
      text-align: center;
      padding-bottom: 12px;
    }

    // incluir una transición
    &__button {
      font: 400 16px $fontpoppins;
      background: none;
      color: $colorwhite;
      align-self: center;
      text-decoration: underline;
      border: none;
      padding: 12px;
      box-sizing: content-box;
      letter-spacing: 0.5px;
    }
  }
}
