// propiedades de CSS que se desee

.mid {
  background-color: $colororange;
  padding: 45px 5px 40px 5px;

  @media all and (min-width: 768px) {
    height: 352px;
  }

  @media all and (min-width: 1200px) {
    height: 400px;
  }

  &__article {
    display: flex;
    flex-direction: column;

    &__title {
      @include text(24px, 600, $colorwhite, 0.5px);
      
      padding-bottom: 5px;

      @media all and (min-width: 768px) {
        font-size: 30px;
        padding-bottom: 15px;
      }
      @media all and (min-width: 1200px) {
        font-size: 36px;
      }
    }

    &__text {
      font: 14px $fontpoppins;
      color: $colorwhite;
      text-align: center;
      padding-bottom: 12px;

      @media all and (min-width: 1200px) {
        font-size: 16px;
      }
    }

    &__button {
      font: 400 16px $fontpoppins;
      background: none;
      color: $colorwhite;
      align-self: center;
      text-decoration: underline;
      border: none;
      padding: 12px;
      box-sizing: content-box;
      letter-spacing: 0.5px;
      transition-duration: 0.2s;
    }

    &__button:hover {
      background-color: $colorwhite;
      color: $colororange;
      cursor: pointer;
      width: fit-content;
      text-decoration: none;
      font-weight: 600;
    }
  }
}

