.mid__article__img {
  align-self: center;
  margin-bottom: 10px;
}
.mid__article__img:hover {
  animation: run 0.8s normal 3 linear forwards;
}
@keyframes run {
  0% {
    transform: translateX(-90%);
  }
  10% {
    transform: translateX(-80%);
  }
  20% {
    transform: translateX(-70%);
  }
  30% {
    transform: translateX(-60%);
  }
  40% {
    transform: translateX(-50%);
  }
  50% {
    transform: translateX(-40%);
  }
  60% {
    transform: translateX(-30%);
  }
  70% {
    transform: translateX(-20%);
  }
  80% {
    transform: translateX(-10%);
  }
  90% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(0);
  }
}
