<footer>
  <article>
    <p>Tienda</p>
    <nav>
      <ul>
        <li><a href="https://adalab.es">Productos</a></li>
        <li><a href="https://adalab.es">Cajoneras</a></li>
        <li><a href="https://adalab.es">Para toda la casa</a></li>
        <li><a href="https://adalab.es">Habitaciones</a></li>
      </ul>
    </nav>
  </article>

  <article>
    <p>Nosotros</p>
    <nav>
      <ul>
        <li><a href="https://adalab.es">Nuestra Guía</a></li>
        <li><a href="https://adalab.es">Nuestro diseño</a></li>
        <li><a href="https://adalab.es">Nuestra historia</a></li>
        <li><a href="https://adalab.es">Ayuda</a></li>
      </ul>
    </nav>
  </article>

  <article>
    <p>Contacto</p>
    <a href="mailto:ayuda@openspaces.com">ayuda@openspaces.com</a>
    <p><a href="https://adalab.es">Socios</a></p>
    <a href="https://es.linkedin.com/">
      <i class="fa-brands fa-linkedin-in"></i></a>
    <a href="https://www.instagram.com/?hl=es">
      <i class="fa-brands fa-instagram"></i></a>
    <a href="https://twitter.com/?lang=es">
      <i class="fa-brands fa-twitter"></i></a>
  </article>

  <!-- añadir dirección a la flecha -->
  <i class="fa-solid fa-arrow-up-long"></i>
</footer>
