<header class="header">
  <a class="header__burger" href="https://adalab.es">
    <i class="fa-solid fa-bars"></i></a>

  <nav class="header__nav">
    <ul class="header__nav__list">
      <li><a class="header__links" href="https://adalab.es">Productos</a></li>
      <li><a class="header__links" href="https://adalab.es">Colecciones</a></li>
      <li><a class="header__links" href="https://adalab.es">Tienda</a></li>
      <li><a class="header__links" href="https://adalab.es">Inicio</a></li>
    </ul>
  </nav>
  <img class="header__logo"
    src="../assets/images/logo.png"
    alt="Logo Open Spaces"
    title="Logo Open Spaces"
  />
</header>
