<section class="low">
  <div class="low__container">
    <article class="low__article">
      <h2 class="low__article__title">Disfruta creando espacios</h2>
      <p class="low__article__text">
        Una línea de productos diseñados para todos tus espacios
      </p>
      <button class="green__button">Comprar ahora</button>
    </article>
  </div>
  <div class="low__container2">
    <img
      class="low__image"
      src="./assets/images/creando-espacios.jpg"
      alt="cesta de baño"
      title="cesta de baño"
    />
  </div>
</section>
