<section>
  <h2>Volverse organizado se siente mejor con open spaces</h2>
  <article>
    <div>background: ./assets/images/icon_1.png</div>
    <h3>Lo que necesitas</h3>
    <p>Una línea de productos diseñados para todos tus espacios</p>
  </article>

  <article>
    <div>background: ./assets/images/icon_2.png</div>
    <h3>Materias primas sustentables</h3>
    <p>Todos los productos con materias primas sustentables</p>
  </article>

  <article>
    <div>background: ./assets/images/icon_3.png</div>
    <h3>Guía</h3>
    <p>Soporte y asesoramiento para ayudarte con tu objetivo</p>
  </article>
</section>
