@mixin text($fontSize, $fontWeight, $fontColor, $fontSpace) {
  font-family: Poppins;
  font-size: $fontSize;
  font-weight: $fontWeight;
  text-align: center;
  letter-spacing: $fontSpace;
  color: $fontColor;
}
