// maquetado con flexbox

.footer {
  background-color: $colorgreen;
  display: flex;
  flex-direction: column;
  padding-top: 56px;

  @media all and (min-width: 900px) {
    padding-top: 71px;
    padding-left: 11%;
  }

  @media all and (min-width: 1700px) {
    height: 393px;
    padding: 131px 0;
  }

  &__container {
    @media all and (min-width: 900px) {
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      width: 82%;
    }

    @media all and (min-width: 1700px) {
      margin-left: 14.7%;
      width: 72%;
    }
  }

  &__article {
    margin-left: 35%;

    @media all and (min-width: 900px) {
      margin-left: 10%;
    }
  }

  // enlazar al inicio de la página
  // BONUS: hacer una pequeña animación en el botón del footer.

  &__arrow {
    color: $colorwhite;
    margin-bottom: 20px;
    position: relative;
    left: 90%;

    @media all and (min-width: 900px) {
      transform: translateY(-350%);
    }

    @media all and (min-width: 1700px) {
      bottom: 45%;
    }
  }

  &__icons {
    margin-top: 12px;
  }
}

.fa-brands {
  padding-right: 6px;
  width: 35px;
}

.article {
  &__title {
    font: 600 20px $fontpoppins;
    color: $colorgray;
    text-align: left;
    letter-spacing: 0.5px;
  }
  &__nav {
    &__list {
      margin: 10px 0 35px 0;
      letter-spacing: 0.5px;
      font: 14px $fontpoppins;
      text-align: left;
      text-decoration: none;
      opacity: 0.9;
      line-height: 1.5;
    }
  }

  &__links {
    color: $colorgray;
    text-decoration: none;
  }

  &__icon {
    color: $colorwhite;
  }
}
