// maquetado con flexbox

.header {
  &__fixed {
    position: fixed;
    display: flex;
    z-index: 9;
  }

  &__burger {
    color: $colorgreen;
    margin: 55px 33px;

    @media all and (min-width: 900px) {
      margin: 75px 82px;
    }

    @media all and (min-width: 1700px) {
      display: none;
    }
  }

  &__nav {
    display: none;

    @media all and (min-width: 1700px) {
      display: inline;
      margin-left: 70%;
      padding-top: 76px;
    }

    &__list {
      display: flex;
      flex-direction: row;
      list-style: none;
      text-decoration: none;
    }
  }

  // a:visited no funciona :(

  &__links {
    text-decoration: none;
    font: 16px $fontpoppins;
    color: $colorgreen;
    padding-right: 30px;
    letter-spacing: 0.5;
  }

  &__logo {
    margin-top: 19px;
    align-self: center;
    position: absolute;
    left: 30%;
    z-index: 10;

    @media all and (min-width: 900px) {
      margin-top: 39px;
      margin-left: 0;
      left: 42.5%;
    }

    @media all and (min-width: 1700px) {
      left: 45%;
    }
  }
}
