.header {
    // descomentar cuando haya avanzado
      // position: fixed;
      &__burger , .burger:visited {
          color: $colorgreen;
      }
    
      &__nav {
        display: none;
        &__list {
          display: flex;
          flex-direction: row;
          list-style: none;
          text-decoration: none;
        }
      }
      &__links {
        text-decoration: none;
        font: 16px $fontpoppins;
      }
    }
    