<section class="top">
  <h2 class="top__title">Volverse organizado se siente mejor con <span class="top__title--capital">open spaces</span></h2>
  
    <include
      src="./articles.html"
      image="./assets/images/icon_1.png"
      subtitle="Lo que necesitas"
      text="Una línea de productos diseñados para todos tus espacios"
    ></include>

    <include
      src="./articles.html"
      image="./assets/images/icon_2.png"
      subtitle="Materias primas sustentables"
      text="Todos los productos con materias primas sustentables"
    ></include>

    <include
      src="./articles.html"
      image="./assets/images/icon_3.png"
      subtitle="Guía"
      text="Soporte y asesoramiento para ayudarte con tu objetivo"
    ></include>

</section>
